body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: rgb(219, 159, 219);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1%;
    background-color: hotpink;
    color: #fff;
    font-family: sans-serif, serif, 'Times New Roman';
}

h1 {
    font-size: 175%;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
    min-width: 200px;
    list-style-type: none;
}

nav a {
    color: #fff;
    font-weight: bolder;
    font-style: 'Comic sans';
    font-size: 100%;
}

nav a:hover{
color: rgb(219, 159, 219);
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(117, 113, 113);
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

h2 {
    color:#fff;
    text-shadow: 2px 2px 5px hotpink;
    text-align: center;
}

section {
    display: block;
    padding: 25px 50px;
    text-align: left;

}

main {
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

#Work {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.p2{
text-align: center;
}

Contact {
display: block;
}
@media screen and (max-width: 768px) {
    main,
    
    nav {
      flex-direction: column;
    }
    
    aside {
      order: 2;
    }

}